/* Adapted from UC Berkeley's CS61B website. */

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding-top: 40px;
}
a {
    text-decoration: none;
    color: #004777;
}
a:hover {
    color: #004777;
}
#coursename {
	color: #004777;
	margin: 30px 40px 20px;
	font-size: 40px;
	line-height: 45px;
}
#courseid {
	color: #004777;
	font-size: 60px;
	margin-right: 10px;
}
#courseinfo {
    margin-left: 40px;
}

#yt-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#top_logo {
  height: auto;
  object-fit: contain;
  position:relative;
  max-width:100%;
  max-height:100%;
}
.navbar-top {
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #004777;
    line-height: 20px;
    text-align: center;
    z-index: 10;
}

.navbar-top a {
    color: white;
}
.navbar-top a:hover {
    color: white;
}
#navitems {
    display: inline-block;
    margin: 0 auto;
}
.navitem {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 15px;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
#content {
    margin: 20px 40px 40px;
}
.content {
    margin: 20px 40px 40px;
}
.segment {
    margin-top: 20px;
    border-top: 2px solid #004777;
    padding-top: 20px;
}
.segmenttitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
}
.code {
    margin: 0 30px;
    background-color: #EEE;
    padding: 5px 15px 10px;
    border-radius: 2px;
}
.codeindent {
    margin-left: 30px;
}

/* Small caps */
.sc {
    font-variant: small-caps;
}


whiteout {
    color: white;
}

whiteout::selection {
    color: black;
}

/* Simulation buttons */
.clickme {
  background-position: center;
  width: 200px;
  height: 200px;
  font-size: 25px;
}

.launch {
  font-size: 25px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 25%;
  background-image: url(../images/startup.svg);
}

.reset {
    font-size: 25px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 25%;
    background-image: url(../images/reset.svg);
}

.big-options {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

.clickme2 {
  background-position: center center;
  background-image: url(images/deepfriedlogo.png);
  width: 100px;
  height: 100px;
  font-size: 25px;
}
.hide {
  display: none;

}
.active {
    background-color: #F00;
  }

.Q1:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.Q2:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.Q3:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.Q4:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.active {
    border: 5px solid #555;
  }

body {
    background-color: #EFEFEF;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: #E64874;
}
a:hover {
    color: #A3284E;
}

#content {
    padding: 40px 30px 30px;
    background-color: white;
    max-width: 750px;
    margin: 0 auto;
}
.content-spacer {
    margin-left: 220px;
}
.title {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 10px;
}
.updated {
    font-size: 16px;
}
.due-date {
    font-size: 16px;
    color: #004777;
}
p, ul, ol, li {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 10px 0;
}
h2 {
    color: #004777;
    font-size: 32px;
    font-weight: 400;
    margin: 25px 0 0;
    border-top: 2px solid #004777;
    padding-top: 35px;
}
h3 {
    color: #004777;
    font-size: 24px;
    font-weight: 400;
    margin: 25px 0 0;
}
h4 {
    color: #004777;
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0 0;
}
.redtext {
    color: red;
}

#navigation + ul li {
    line-height: 24px;
    margin: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding: 5px 10px;
}
td.case {
    background-color: #B0E2FF;
}
table.text {
    line-height: 16px;
}
table.unlined {
    border: none;
}
table.unlined > tbody > tr > td {
    border: none;
    padding: 3px 10px;
    text-align: right;
    font-size: 15px;
}

.question > tbody > tr > td:nth-child(3) {
    display: none;
}
.testbutton {
    padding: 7px 10px;
    width: 130px;
    text-align: center;
    background-color: #E64874;
    color: white;
    margin-top: 15px;
    border-radius: 2px;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    cursor: pointer;
}
.testbutton:hover {
    background-color: #A3284E;
}
.solution {
    margin-top: 15px;
    display: none;
}

.testbutton.togglebutton.tablebutton {
    margin-top: 0px;
}
.tablesolution {
    margin-top: 5px;
}
.tablesolution > .code {
    margin: 0;
}

#sidebar {
    position: fixed;
    width: 180px;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 5;
    background: white;
    margin-top: 40px;
    padding: 0 20px;
}
#sidebar-content {
    padding: 0 0 70px;
}
#sidebar-content > ul {
    list-style-type: none;
    padding-left: 0;
}
#sidebar-content > ul > li {
    margin-top: 20px;
    line-height: 18px;
    color: #555;
    font-weight: 600;
    font-size: 14px;
}
#sidebar-content > ul > ul {
    display: none;
}