/* Adapted from UC Berkeley's CS61B website. */

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding-top: 40px;
}
a {
    text-decoration: none;
    color: #004777;
}
a:hover {
    color: #004777;
}
#coursename {
	color: #004777;
	margin: 30px 40px 20px;
	font-size: 40px;
	line-height: 45px;
}
#courseid {
	color: #004777;
	font-size: 60px;
	margin-right: 10px;
}
#courseinfo {
    margin-left: 40px;
}

#yt-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#top_logo {
  height: auto;
  object-fit: contain;
  position:relative;
  max-width:100%;
  max-height:100%;
}
.navbar-top {
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #004777;
    line-height: 20px;
    text-align: center;
    z-index: 10;
}

.navbar-top a {
    color: white;
}
.navbar-top a:hover {
    color: white;
}
#navitems {
    display: inline-block;
    margin: 0 auto;
}
.navitem {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 15px;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
#content {
    margin: 20px 40px 40px;
}
.content {
    margin: 20px 40px 40px;
}
.segment {
    margin-top: 20px;
    border-top: 2px solid #004777;
    padding-top: 20px;
}
.segmenttitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
}
.code {
    margin: 0 30px;
    background-color: #EEE;
    padding: 5px 15px 10px;
    border-radius: 2px;
}
.codeindent {
    margin-left: 30px;
}

/* Code Segments & Font */
pre {
    margin: 0;
    line-height: normal;
    border: 1px solid #EEE;
    border-bottom: none;
}
code {
    background-color: #EEE;
    font-size: 15px;
}

/* Small caps */
.sc {
    font-variant: small-caps;
}

/* Blank out for self-tests, etc. */

whiteout {
    color: white;
}

whiteout::selection {
    color: black;
}

/* Simulation buttons */
.clickme {
  background-position: center;
  width: 200px;
  height: 200px;
  font-size: 25px;
}

.launch {
  font-size: 25px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 25%;
  background-image: url(../images/startup.svg);
}

.reset {
    font-size: 25px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 25%;
    background-image: url(../images/reset.svg);
}

.big-options {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

.clickme2 {
  background-position: center center;
  background-image: url(images/deepfriedlogo.png);
  width: 100px;
  height: 100px;
  font-size: 25px;
}
.hide {
  display: none;

}
.active {
    background-color: #F00;
  }

.Q1:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.Q2:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.Q3:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.Q4:hover + .hide {
  display: block;
  opacity: 1;
      transition: opacity 1s;
  color: blue;
}

.active {
    border: 5px solid #555;
  }