.grid {
  height: 800px;
  background-image: url('./images/still_stars.gif');
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.rocket {
  width: 300px;
  height: 300px;
  position:absolute;
  margin: auto;
  background-image: url('./simulation/Rockets/rocket_111.png');
  bottom: 0;
  max-width: 100%; /* not to stand out from div */
  max-height: 100%; /* not to stand out from div */
}

.score {
  font: Roboto;
  color: white;
}

.airtime {
  font: Roboto;
  color: white;
}
